.iconSection {
  padding: 1rem;
}
.backIcon {
  border: 2px solid #fff;
  padding: 2px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.main {
  display: flex;
  padding: 0 1rem;
}
.albumImageSection {
  width: 25%;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.heading {
  color: #fff;
  font-weight: bold;
}
.subHeading {
  color: #fff;
}
.year {
  color: #fff;
}
.songDetails {
  display: flex;
  gap: 1.5rem;
  color: #fff;
  > li:first-child {
    list-style: none;
  }
}
.detilsSectionWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.buttons {
  display: flex;
  gap: 1rem;
}
.shuffleBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #fff;
  border: transparent;
  cursor: pointer;
  background-color: var(--primary-color);
}
.libraryBtn {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  cursor: pointer;
}
