.searchWrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}
.img{
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.follows{
    text-wrap: nowrap;
    margin-left: auto;
}