.faqWrapper {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

}
.faqSection{
    width: 50%;
    margin: 0 auto;
}
.heading{
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}
.accordion{
    border: 2px solid #fff;
    /* border-radius: 10px !important; */
}
.panelHeader,
.answer {
  color: #fff !important;
  background-color: #121212 !important;
}

.icon {
  color:  #34c94b !important;
}
