.navbarWrapper {
  position: sticky;
  top: 0;
  z-index: 22;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary-color);
}
.logoSection {
  cursor: pointer;
}
.searchWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  background-color: var(--ternary-color);
  border-radius: 10px;
}
.searchBox {
  height: 3rem;
  width: 20rem;
  border-color: transparent;
  padding: 1rem;
  border-right: 2px solid var(--secondary-color);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.searchImg {
  padding: 0.7rem 1rem;
}
.feedbackBtn {
  font-family: "Poppins", serif;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 1rem;
  border-radius: 10px;
  font-weight: bold;
}
