.albumWrapper {
  padding: 1rem;
  border-bottom: 2px solid var(--primary-color);
}
.cardWrapper {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.cardWrapperSwiper {
  overflow-x: hidden;
  display: flex;
  gap: 2rem;
  padding: 1rem;
}
.heading {
  color: #fff;
  margin: 0 1rem;
}
.subHeadingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showAll {
  color: #34c94b;
  cursor: pointer;
}

/* .swiperSlider {
  width: 92rem !important;
  background-color: var(--secondary-color) !important; 
} */
