:root {
  --primary-color: #34c94b;
  --secondary-color: #121212;
  --ternary-color: #ffffff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", serif;
  background-color: var(--secondary-color);
  max-width: 1920px;
  margin: 0 auto;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
  background-color: var(--primary-color) !important;
  color: var(--ternary-color) !important;
  height: 30px !important;
  width: 30px !important;
  border-radius: 50% !important;
  transform: translate(-50%);
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1rem !important;
  font-weight: bold !important;
}
.swiper-wrapper{
  padding: 1rem 0;
}
